@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Poppins , sans-serif;
}

.title {
  align-self: center;
  color: #0a67be;
  font-family: Dancing Script , cursive;
  font-size: 2.9rem;
}

.subtitle {
  align-items: center;
  background-image: linear-gradient(to right, #3432be, #08d0eb, #050505);
  background-size: 200%;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: cursive;
  font-size: 1.2rem;
  justify-content: center;
  margin-bottom: 2px;
  min-height: 50px;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.table-all {
  display: inline-flex;
  flex-direction: column;
  font-family: cursive;
  margin-bottom: 0.5em;
  padding: 0.7em;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.table-total {
  margin-top: 25px;
}

.client-name {
  align-self: center;
  color: #0a67be;
  display: flex;
  font-family: Dancing Script , cursive;
  font-size: 6.9rem;
  justify-content: center;
  width: 100%;
}

.container {
  display: grid;
  height: 100vh;
  justify-items: center;
  margin: 0 auto;
  width: 100vw;
}

.container-products {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'item item item item'
    'item item item item'
    'item item item item';
  justify-items: center;
  margin: 0 auto;
}

.container-orders {
  align-items: center;
  color: #02498b;
  display: grid;
  flex-direction: row;
  font-family: cursive;
  grid-gap: 10px;
  grid-template-areas: 'item item item item'
    'item item item item'
    'item item item item';
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.container-detail {
  align-items: center;
  display: flexbox;
  font-family: cursive;
  font-size: larger;
  justify-content: center;
}

img {
  max-height: 150px;
  max-width: 150px;
  padding: 5px;
}

.item {
  align-items: center;
  color: #02498b;
  display: inline-flex;
  flex-direction: column;
  font-family: cursive;
  grid-area: 'item';
  justify-content: center;
  min-height: 250px;
  min-width: 250px;
}

.item-card {
  align-items: center;
  border: 1px black solid;
  color: #02498b;
  display: inline-flex;
  flex-direction: row;
  font-family: cursive;
  justify-content: center;
  padding-right: 10px;
  text-align: center;
}

.orderNum {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}

.orderEntregue {
  align-items: center;
  background-color: #013024;
  color: #faf6f6;
  display: flex;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}

.orderTransito {
  align-items: center;
  background-color: #f52207;
  color: #faf6f6;
  display: flex;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}

.orderPendente {
  align-items: center;
  background-color: #eeb808;
  color: #faf6f6;
  display: flex;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}

.orderDetail {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  min-width: 100px;
}

.div-quantity {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-content {
  align-content: center;
  align-items: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.address-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-content {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-container {
  align-content: center;
  align-items: center;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.btn-container {
  display: grid;
  justify-content: stretch;
  width: 20%;
}

form {
  width: 360px;
}

.login-content .input-div {
  border-bottom: 2px solid #d9d9d9;
  color: #02498b;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 15px 0;
  position: relative;
}

.register-container .input-div {
  border-bottom: 2px solid #d9d9d9;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 15px 0;
  position: relative;
}

.input {
  background: none;
  border: none;
  color: #02498b;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  height: 100%;
  left: 0;
  outline: none;
  padding: 0.5rem 0.7rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.input-quantity {
  background: none;
  border: none;
  color: #02498b;
  display: flex;
  font-family: cursive;
  font-size: 1.2rem;
  height: 100%;
  margin-left: 15px;
  outline: none;
  text-align: center;
  text-justify: distribute;
  width: 100%;
}

.btn {
  background-image: linear-gradient(to right, #3432be, #08d0eb, #050505);
  background-size: 200%;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  height: 50px;
  margin: 1rem 0;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-entregue {
  background-image: linear-gradient(to right, #03532b, #037a59, #013024);
  background-size: 200%;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  height: 50px;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-dec {
  background-image: linear-gradient(to left, #f10813, #eb4e4e, #f30337);
  background-size: 200%;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  height: 50px;
  margin: 1rem 0;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-inc {
  background-image: linear-gradient(to left, #048162, #03505a, #035036);
  background-size: 200%;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  height: 50px;
  margin: 1rem 0;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-product {
  background-image: linear-gradient(to right, #3432be, #08d0eb, #050505);
  background-size: 200%;
  border: none;
  color: white;
  cursor: pointer;
  display: flexbox;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  min-height: 50px;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn-exit {
  background-image: linear-gradient(to right, #3432be, #08d0eb, #050505);
  background-size: 200%;
  border: none;
  color: white;
  cursor: pointer;
  display: flexbox;
  font-family: Poppins , sans-serif;
  font-size: 1.2rem;
  min-height: 50px;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn:hover {
  background-position: right;
}

.btn-entregue:hover {
  background-position: right;
}

.btn-dec:hover {
  background-position: right;
}

.btn-inc:hover {
  background-position: right;
}

.btn-product:hover {
  background-position: right;
}


.btn-exit:hover {
  background-position: right;
}

@media ( max-width : 820px ) {

  .container-products {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'item item'
      'item item'
      'item item'
      'item item'
      'item item';
    justify-items: center;
    margin: 0 auto;
  }

  .container-orders {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'item item'
      'item item'
      'item item'
      'item item'
      'item item';
    justify-items: center;
    margin: 0 auto;
  }

}


@media ( max-width : 520px ) {

  .container-products {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'item'
      'item'
      'item'
      'item'
      'item';
    justify-items: center;
    margin: 0 auto;
  }

  .container-orders {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'item'
      'item'
      'item'
      'item'
      'item';
    justify-items: center;
    margin: 0 auto;
  }
}
